<%= form_with(model: contact, local: false) do |form| %>
  <div id='modal-body' class="modal-body">
    <div class="mb-3"> 
      <%= form.label "Name", class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %> 
      <div id='alert-name' class="form-text text-danger"></div>
    </div>
    <div class="mb-3">
      <%= form.label "Email", class: "form-label" %>
      <%= form.email_field :email, class: "form-control" %> 
      <div id='alert-email' class="form-text text-danger"></div>
    </div> 
    <div class="mb-3">
      <%= form.label "Phone", class: "form-label" %>
      <%= form.number_field :phone, class: "form-control" %> 
      <div id='alert-phone' class="form-text text-danger"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button id='closeBtn' type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-dark">Submit</button>
  </div>
<% end %>