<td>
  <%= contact.name %> 
</td>
<td>
  <%= contact.email %> 
</td>
<td>
  <%= contact.phone %> 
</td>
<td>
    <%= link_to "Edit", '/contacts/' + contact.id.to_s + '/edit', remote: true, data: {
      bs_toggle: 'modal',
      bs_target: '#form-modal'
    } %>
    /
    <%= link_to "Delete", '/contacts/' + contact.id.to_s, remote: true, method: :delete %>
</td> 