<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody id='tbody'>
    <% contacts.each do |contact| %>
      <tr id='row-<%= contact.id %>'>
        <%= render 'contacts/row', contact: contact %> 
      </tr>
    <% end %> 
  </tbody>
</table>