var tbody = document.getElementById('tbody')
var newTr = document.createElement('tr')

<% if @contact.errors.any? %>
  setFormAlert(
    '<%= j raw @contact.errors.full_messages_for(:name)[0] %>',
    '<%= j raw @contact.errors.full_messages_for(:email)[0] %>',
    '<%= j raw @contact.errors.full_messages_for(:phone)[0] %>'
  ) 
<% else %>
  newTr.innerHTML = '<%= escape_javascript render('row', contact: @contact) %>'
  newTr.setAttribute('id', 'row-<%= @contact.id %>')

  tbody.prepend(newTr);

  document.getElementById("closeBtn").click()
  setAlertMessage('<%= j @alertMessage %>')
<% end %>