<p class='display-3' id='title'><span class='fw-bold'>Phone</span><span class='text-black-50 fw-light'>book</span>
</p> 

<div class='d-flex flex-row-reverse justify-content-between align-items-center mb-3'>
  <div data-bs-toggle="modal" data-bs-target="#form-modal">
    <%= link_to "Create new Contact", '/contacts/new', remote: true, class: "btn btn-dark" %>

    <%# <button type="button" class="btn btn-dark">Create new contact</button> %>
  </div> 
  <div id='alert-message' class="text-success"></div>
</div>

<%= render 'contacts/table', contacts: @contacts %>

<div class="modal fade" id="form-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="form"> 
      </div>
    </div>
  </div>
</div>