var tbody = document.getElementById('tbody')
var contactTr = document.getElementById('row-<%= @contact.id %>')


<% if @contact.errors.any? %>
  setFormAlert(
    '<%= j raw @contact.errors.full_messages_for(:name)[0] %>',
    '<%= j raw @contact.errors.full_messages_for(:email)[0] %>',
    '<%= j raw @contact.errors.full_messages_for(:phone)[0] %>'
  ) 
<% else %>
  contactTr.innerHTML = '<%= escape_javascript render('row', contact: @contact) %>'
  
  document.getElementById("closeBtn").click()
  setAlertMessage('<%= j @alertMessage %>')
<% end %>